{% set weight_list = {
	'200': 'Thin',
	'300': 'Light',
	'400': 'Regular',
	'500': 'Medium',
	'700': 'Bold',
	'900': 'Black'
} %}

{% set style_list = { 'normal': '', 'italic': 'Italic' } %}

<style>
	{% for weight_number, weight_name in weight_list %}
		{% for style_value, style_name in style_list %}
			@font-face {
				font-family: 'Good Sans';
				font-style: {{ style_value }};
				font-weight: {{ weight_number }};
				src: url("https://plan.sa.gov.au/design/fonts/goodsans/GoodSans-{{ weight_name }}{{ style_name }}.woff2") format('woff2');
			}
		{% endfor %}
	{% endfor %}
</style>
