{% extends 'layouts/base.twig' %}

{% set layout__title = 'Thank you for using the PlanSA' %}
{% set layout__preview = 'Thank you for using the PlanSA' %}

{% set layout__header_text = '' %}

{% set layout__hero_image = 'full-width.jpeg' %}
{% set layout__hero_title = 'Have your say' %}


{% block content %}
	<mj-section padding="50px 20px" background-color="{{ colour__white }}">
		<mj-column width="30px"></mj-column>
		
		<mj-column width="580px">
			<mj-text css-class="rich-text">
				{emailContent}

			</mj-text>
		</mj-column>
		
		<mj-column width="30px"></mj-column>
	</mj-section>
{% endblock %}
