{% extends 'layouts/base.twig' %}

{% set layout__title = 'Council Information Session' %}
{% set layout__preview = 'Council Information Session' %}

{% set layout__header_text = 'Response Required to Consultation Period<br>Application ID: 460321' %}

{% set layout__hero_image = 'full-width.jpeg' %}
{% set layout__hero_title = 'Council Information Session' %}


{% block content %}
	<mj-section padding="50px 20px" background-color="{{ colour__white }}">
		<mj-column width="60px"></mj-column>
		
		<mj-column width="480px">
			<mj-text css-class="rich-text">
				<p>Adipiscing dolor turpis aenean aliquet ultricies quis. Egestas iaculis ac felis massa purus augue. Enim curabitur morbi tempus ultrices neque condimentum ultricies enim pellentesque. A dictum tempus, tincidunt neque amet nec. Elementum nec, arcu sem dui pretium sed ac sed. Posuere sem odio facilisi nulla metus. Nec lacus, sapien diam, porttitor nisl fermentum. Id est arcu at adipiscing tortor laoreet tincidunt. Bibendum quis id gravida tellus duis laoreet ipsum. Pellentesque fermentum turpis blandit in erat volutpat vestibulum. Nam sit nibh lectus risus pharetra. Mattis sapien, tempus egestas augue malesuada aliquam.</p>
				
				<p>Ipsum etiam feugiat urna platea nam sapien mi, et id. Pellentesque elementum semper enim risus curabitur. Dignissim at id aliquam ac, fringilla morbi. Scelerisque interdum blandit lacus leo et amet. Integer turpis augue erat aliquam odio risus. Etiam egestas et pellentesque pulvinar. Eget id pellentesque non at aliquet nisl ac urna.</p>
			</mj-text>
			
			<mj-image src="{{ assets_root }}muhammad-ali-signature.png" width="161px" />
			
			<mj-text css-class="rich-text">
				<p>Ray Partridge<br>Program Director</p>
			</mj-text>
		</mj-column>
		
		<mj-column width="60px"></mj-column>
	</mj-section>
	
	
	<mj-section padding="50px 20px" background-color="{{ colour__off_white }}">
		<mj-column width="60px"></mj-column>
		
		<mj-column width="480px">
			<mj-text><h2 class="heading-2">South Australia’s planning and design code at your fingertips.</mj-text>
		</mj-column>
		
		<mj-column width="60px"></mj-column>
	</mj-section>
	
	{% for i in 1..3 %}
		<mj-section padding="0 20px 50px" background-color="{{ colour__off_white }}">
			<mj-column width="60px"></mj-column>
			
			<mj-column width="200px" background-color="{{ colour__white }}">
				<mj-image src="assets/thumbnail-portrait.png" />
			</mj-column>
			
			<mj-column width="280px" padding="32px" background-color="{{ colour__white }}">
				<mj-text css-class="cta-text">
					<h3>Find a professional</h3>
					
					<p>Ipsum etiam feugiat urna platea nam sapien mi, et id. Pellentesque elementum semper enim risus.</p>
				</mj-text>
				
				<mj-button href="https://dpti.sa.gov.au/">Go to video</mj-button>
			</mj-column>
			
			<mj-column width="60px"></mj-column>
		</mj-section>
	{% endfor %}
	
	<mj-section padding="0 20px 50px" background-color="{{ colour__off_white }}">
		<mj-column width="60px"></mj-column>
		
		<mj-column width="224px" background-color="{{ colour__white }}">
			<mj-image src="assets/thumbnail-landscape.png" />
			
			<mj-text padding="32px 32px 0" css-class="cta-text">
				<h3>Find a professional</h3>
				
				<p>Ipsum etiam feugiat urna platea nam sapien mi, et id. Pellentesque elementum semper enim risus.</p>
			</mj-text>
			
			<mj-button padding="0 32px 32px" href="https://dpti.sa.gov.au/">Go to video</mj-button>
		</mj-column>
		
		<mj-column width="32px"></mj-column>
		
		<mj-column width="224px" background-color="{{ colour__white }}">
			<mj-image src="assets/thumbnail-landscape.png" />
			
			<mj-text padding="32px 32px 0" css-class="cta-text">
				<h3>Find a professional</h3>
				
				<p>Ipsum etiam feugiat urna platea nam sapien mi, et id. Pellentesque elementum semper enim risus.</p>
			</mj-text>
			
			<mj-button padding="0 32px 32px" href="https://dpti.sa.gov.au/">Go to video</mj-button>
		</mj-column>
		
		<mj-column width="60px"></mj-column>
	</mj-section>
{% endblock %}
