{% extends 'layouts/base.twig' %}

{% set layout__title = 'Thank you for using the PlanSA' %}
{% set layout__preview = 'Thank you for using the PlanSA' %}

{% set layout__header_text = '' %}

{% set layout__hero_image = 'full-width.jpeg' %}
{% set layout__hero_title = 'Confirmation of user account creation' %}


{% block content %}
	<mj-section padding="50px 20px" background-color="{{ colour__white }}">
		<mj-column width="30px"></mj-column>
		
		<mj-column width="580px">
			<mj-text css-class="rich-text">

				<p>Dear %globals_post_q678189:q2%,</p>
				<p>We have received a request from you to create an online account for your organisation, %globals_post_q678188:q1%.</p>
				<p>%globals_session_dap_org_response^json_decode^index:error^unescapehtml%
				%globals_session_dap_org_response^json_decode^index:message^index:html^unescapehtml%</p>
				<p>Thank you,</p>
				<p>PlanSA</p>
				<br>
				<p>Should you require any further assistance please contact us on <a href="tel:1800752664">1800 752 664</a> or <a href="mailto:DPTI.PlanSA@sa.gov.au">DPTI.PlanSA@sa.gov.au</a>.</p>

			</mj-text>
		</mj-column>
		
		<mj-column width="30px"></mj-column>
	</mj-section>
{% endblock %}
