{% import '../partials/macros.twig' as macros %}

{% set assets_root = 'https://public-eplanning-sandpit.s3-ap-southeast-2.amazonaws.com/assets/' %}

{% set colour__black = '#000000' %}
{% set colour__white = '#ffffff' %}
{% set colour__off_white = '#f5f5f5' %}
{% set colour__grey = '#e9e9e9' %}
{% set colour__red = '#d73131' %}
{% set colour__blue = '#b9e1dc' %}


{% set colour__background = colour__grey %}


{% set footer_links = [
	{ text: 'Freedom of Information', width: 104 },
	{ text: 'Accessibility', width: 56 },
	{ text: 'Security', width: 36 },
	{ text: 'Privacy', width: 33 },
	{ text: 'Copyright', width: 44 },
	{ text: 'Disclaimer', width: 47 }
] %}


<mjml owa="desktop" lang="en/AU">
	<mj-head>
		<mj-breakpoint width="640px" />
		
		<mj-title>{{ layout__title }}</mj-title>
		
		<mj-preview>{{ layout__preview }}</mj-preview>
		
		<mj-raw>
			<meta name="format-detection" content="telephone=no">
			<meta name="format-detection" content="date=no">
			<meta name="format-detection" content="address=no">
			<meta name="format-detection" content="email=no">
			
			<!--[if !mso]><!--> {% include '../partials/font.twig' %} <!--<![endif]-->
			
			<!--[if mso]> <style> * { font-family: Arial, sans-serif; } </style> <![endif]-->
		</mj-raw>
		
		<mj-attributes>
			<mj-all
				font-family="Good Sans, Helvetica, Arial, sans-serif"
				font-size="13px"
				line-height="22px"
				font-weight="300"
				text-align="left"
				color="inherit"
				padding="0px"
				vertical-align="top"
				align="left"
				colour="{{ colour_black }}" />
				
			<mj-button
				line-height="24px"
				inner-padding="3px 8px"
				border="1px solid {{ colour__black }}"
				border-radius="0px"
				background-color="transparent" />
				
			<mj-class name="rich-text__button"
				inner-padding="3px 16px 3px 8px"
				padding="16px 0px 32px"
				border="1px solid {{ colour__blue }}" />
				
			<mj-class name="footer-cell"
				padding-left="0"
				padding-top="0px"
				text-align="center" />
		</mj-attributes>
		
		<mj-style inline="inline">
			html {
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				color: {{ colour__black }};
			}
			
			h2, h3, p, font, span, div {
				font-weight: 300;
				-webkit-hyphens: none;
				-moz-hyphens: none;
				hyphens: none;
				word-break: keep-all;
				margin: 0px;
				color: {{ colour__black }};
			}

			
			.rich-text .link, .rich-text .link span, .rich-text .link font { color: {{ colour__red }}; }
			
			.footer-links .link, .footer-links .link span, .footer-links .link font {
				font-size: 10px;
				line-height: 20px;
				white-space: nowrap;
				color: {{ colour__black }};
			}

			.right-arrow {
				vertical-align: top;
				width: 24px;
				height: 24px;
			}
			
			.rich-text p { margin-bottom: 16px; }
			
			.under-footer p {
				font-size: 10px;
				font-weight: 400;
				line-height: 16px;
				margin-bottom: 20px;
				color: {{ colour__black }};
			}

			.heading-2 {
				font-size: 18px;
				font-weight: 400;
				line-height: 35px;
				color: {{ colour__black }};
			}
			
			.cta-text h3 {
				font-size: 18px;
				font-weight: 200;
				line-height: 22px;
				margin-bottom: 45px;
				color: {{ colour__black }};
			}
			
			.cta-text p {
				font-size: 14px;
				font-weight: 200;
				line-height: 20px;
				margin-bottom: 20px;
				color: {{ colour__black }};
			}
		</mj-style>
	</mj-head>
	
	
	<mj-body width="640px" background-color="{{ colour__background }}">

		{# <mj-section padding-bottom="90px"></mj-section> #}

		<mj-section padding="5px 0" background-color="{{ colour__red }}">
		</mj-section>

		<mj-section padding="0px 0px 0px 30px" background-color="{{ colour__white }}">
			<mj-column width="0px"> </mj-column>
			
			<mj-group width="580px" >
				<mj-column width="50%" padding="30px 0">
					<mj-image src="https://plan.sa.gov.au/resource/images/home_page/psa-logo2.png" width="200px"/>
				</mj-column>
				
				<mj-column width="50%">
				</mj-column>
			</mj-group>
			
			<mj-column width="0px"></mj-column>
		</mj-section>
		
		<mj-section padding="20px" background-color="{{ colour__blue }}">
			<mj-column width="30px"></mj-column>
			
			<mj-column width="580px">
				<mj-text><h2 class="heading-2">{{ layout__hero_title|raw }}</h2></mj-text>
			</mj-column>
			
			<mj-column width="0px"></mj-column>
		</mj-section>
		
		<mj-section>
			<mj-column>
				<mj-image src="https://plan.sa.gov.au/resource/images/email_hero_image.jpg" />
			</mj-column>
		</mj-section>
		


		{% block content %}{% endblock %}
		
		
		<mj-section padding="18px 18px" background-color="{{ colour__blue }}" css-class="footer-links">
			<mj-column width="90px"></mj-column>
			
			<mj-group width="430px"  css-class="footer">
				<mj-column mj-class="footer-cell" css-class="footer-item">
					<mj-text>{{ macros.link('https://dpti.sa.gov.au/copyright_statement', 'Copyright') }}</mj-text>
				</mj-column>
				
				<mj-column mj-class="footer-cell" css-class="footer-item">
					<mj-text>{{ macros.link('https://dpti.sa.gov.au/website_disclaimer', 'Disclaimer') }}</mj-text>
				</mj-column>
				<mj-column mj-class="footer-cell" css-class="footer-item">
					<mj-text>{{ macros.link('https://plan.sa.gov.au/terms_and_conditions', 'Terms and Conditions') }}</mj-text>
				</mj-column>
			</mj-group>
			
			<mj-column width="0px"></mj-column>
		</mj-section>
		
		<mj-section  background-color="{{ colour__white }}">
			<mj-column padding="30px 20px 10px 20px">
				<mj-text css-class="under-footer">
					<p>We acknowledge and respect Aboriginal peoples as South Australia's first peoples and nations, we recognise Aboriginal peoples as traditional owners and occupants of land and waters in South Australia and that their spiritual, social, cultural and economic practices come from their traditional lands and waters; and they maintain their cultural and heritage beliefs, languages and laws which are of ongoing importance; We pay our respects to their ancestors and to their Elders.</p>
					
					<p>Information contained in this email message may be confidential and may also be the subject of legal professional privilege or public interest immunity. Access to this email by anyone else is unauthorised. If you are not the intended recipient, any use, disclosure or copying of this document is unauthorised and may be unlawful.</p>
				</mj-text>
			</mj-column>
			<mj-raw>
				<table role="presentation" border="0" cellpadding="0" cellspacing="0" style="font-feature-set: kern, liga, pnum; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-rendering: optimizeLegibility; width: 100%;">
					<tr>
					<td style="font-family: Arial; font-size: 0px; line-height: 0px; color: #212121; text-transform: uppercase; vertical-align: top; background-color: {{ colour__blue }}; padding-bottom: 10px;">
						</td>
					<td style="font-family: Arial; font-size: 0px; line-height: 0px; color: #212121; text-transform: uppercase; vertical-align: top; background-color: {{ colour__red }}; padding-bottom: 10px;">
						</td>
					</tr>
				</table>
			</mj-raw>
		</mj-section>

	</mj-body>
</mjml>
